
/* General & Master blade template */

@media (min-width: 1400px) {
  .container {
    width: 1300px;
	/* margin-left: 2%; */
  }
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	padding-top: 0px;
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

[title]{
	position:relative;
}
[title]:after{
	content:attr(title);
	color:#fff;
	background:#333;
	background:rgba(51,51,51,0.75);
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	bottom:100%;
	white-space:nowrap;
	-webkit-transition:0.25s linear opacity;
}
[title]:hover:after{
	left:5px;
	opacity:1;
}

body {
	line-height: 1.25em ! important;
}

div.container {
	margin-top: 60px;
	margin-bottom: 20px;
}

div#session-alert {
	margin-top:10px;
}

div#ie8 {
	top: 60px;
	position: fixed;
	background-color: yellow;
	width: 100%;
	height: 30px;
}

div#ie8 p {
	padding: 8px;
}

nav .glyphicon {
	top: 2px !important;
}

/* Section Breadcrumb */

ul.breadcrumb-section {
	margin-top: 20px ! important;
}

/* Sections and templates overview */
tr.notvisible {
  background-color:#FEF0C9 !important
}

/* Template */

table.template tr td {
	border-color: black;
}

table.template td.tablecell:hover {
	background-color: #ECF1EF;
}

table.template td.disabled {
	background-color: LightGray ! important;
}

table.template td.highlight {
	background-color: #f39c12 ! important;
}

table.template td.clicked {
	background-color: #90EE90 ! important;
}

table.template td.propertybold {
	font-weight: bold;
}

table.template td.propertytab {
	padding-left: 20px;
}

table.template td.propertydoubletab {
	padding-left: 40px;
}

.table .info-left, .table .info-right {
	width: 50%;
}

 .modal-body #row_regulation, .modal-body #row_interpretation {
	width: 90%;
}

.modal-body #row_regulation, .modal-body #row_interpretation,  .modal-body #column_regulation,  .modal-body #column_interpretation {
	min-height: 20px;
}

.modal-body div.technical-info {
	padding-left: 30px;
}

.modal-body table.table.technical {
	width: 75% !important;
	margin-left: 100px;
}

div.modal-dialog {
	width: 90%;
}

modal.fade {
	overflow:hidden;
}

div.modal-body {
	overflow-y: scroll; 
	margin-right: 1px;
}

div#modalContent {
	display:none;
}

#modalContent table dt, #cell-update .dl-horizontal dt, td.changerequest .dl-horizontal dt {
    width: 220px !important;
}

#modalContent table dd, #cell-update .dl-horizontal dd, td.changerequest .dl-horizontal dd {
    margin-left: 230px !important;
}

td.tablecell {
	text-align: center;
}

td.desc {
	background-color: #FAFAFA;
}

tr.header2 {
	background-color: #EEE;
}

td.column {
	text-align: center; 
	font-weight: bold;
}

td.content.header {
	min-width: overflow-hidden; 
	word-wrap: break-word;
}

td.error, tr.error {
	background-color: #e74c3c; 
	color: #ffffff;
}

td.disabled {
	background-color: LightGray ! important;
}

/* Template structure page */

td.desc label.checkbox-inline {
	padding-left:0px;
}

td.header.structure {
	min-width: 200px;
}

td.header.structure.content {
	width: 100px;
}

/* Changerequest page */

button.changerequest.btn {
	float: left;
	margin-right: 20px;
}

button.changerequest#approve {
	margin-top: 15px;
}

tr.changerequest div#row_name, tr.changerequest div#row_regulation, tr.changerequest div#row_interpretation, tr.changerequest div#column_name, tr.changerequest div#column_regulation, tr.changerequest div#column_interpretation {
	min-height: 20px;
}

/* Search */

search-table.table {
	margin-buttom: 20px;
}

button#advanced-search {
	margin-bottom: 20px;
}

/* Pop-up window and technical */
table#technical th.source, table#technical th.type {
	width: 15%;
}

table#technical th.action {
	width: 10%;
}

table#technical td select.form-control, table#technical td input.form-control {
	border: none;
	box-shadow: none;
	padding: 0px;
	height: inherit;
}

table#technical div.checkbox {
	margin-top: 1px ! important;
    margin-bottom: 1px ! important;
}

table#technical textarea#field_property1 table#technical textarea#field_property2 {
	width: 50%;
}

table#technical textarea#field_regulation table#technical textarea#field_interpretation {
	width: 70%;
}

table.dialog  textarea#regulation_row, table.dialog  textarea#interpretation_row, table.dialog  textarea#regulation_column, table.dialog  textarea#interpretation_column {
	width: 90%;
}

div#cell-update {
	margin-top: 20px;
}

/* Pagination results */

div.pagination {
	text-align: center;
	width: 100%;
	margin-top: 0px;
}

/* HMLT Diff (changerequest edit view) */

td.changerequest .dl-horizontal {
	margin-right: 30px;
}

td.changerequest div.content-box {
	float:left;
}

ins {
	color: green;
	background: #dfd;
	text-decoration: none;
}

del {
	color: red;
	background: #fdd;
	text-decoration: none;
}

code {
	font-size: smaller;
}

#params {
	margin: 1em 0;
	font: 14px sans-serif;
}

.code {
	margin-left: 2em;
	font: 12px monospace;
}

.ins {
	background:#dfd;
}

.del {
	background:#fdd;
}

.rep {
	color: #008;
	background: #eef;
}

#htmldiff.onlyDeletions ins {display:none}
#htmldiff.onlyInsertions del {display:none}
